body{
    position: relative;
    width: 1440px;
    height: auto;/*1024*/
    background: #F3F5FC; 
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px; 
}

.divVacia{
    position: absolute;
    width: 28%;
    height: 744px;/*944*/
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.mensaje{
    position: absolute;
    width: 336px;
    height: 581px;/*781*/
    left: 1032px;
    top: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    resize: none;
    border: none;
    text-align: center;    
}

.mensaje:focus{
    outline: none;
}

.textoImagen{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 336px;
    height: 122px;
    left: 1032px;
    top: 519px;/*619*/    
} 

.primerParrafo{
    width: 336px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    animation-name: caida;
    animation-duration: 1s;
}

.segundoParrafo{
    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    animation-name: caida;
    animation-duration: 1s;
}

.imgMono{
    position: absolute;
    width: 336px;
    height: 304px;
    left: 1032px;
    top: 183px;/*283*/
    animation-name: caida;
    animation-duration: 2s;
    animation-name: rotar;
    animation-duration: 2s;
}

.botonCopiar{
    display: none;    
    padding: 24px;
    position: absolute;
    width: 336px;
    height: 67px;
    left: 1032px;
    top: 685px;/*885*/
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    cursor: pointer;    
}

.textArea{
    position: absolute;
    width: 680px;
    height: 288px;
    left: 240px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    resize: none;
    background-color: #F3F5FC;
    border: none;
    color: #0A3871;
    text-transform: lowercase;   
}

.textArea:focus{
    outline: none;
}

.informacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 651px;/*851*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    
}

.informacion::before{
    content: url(imagenes/bi_exclamation-circle-fill.png);  
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 685px;/*885*/

}
.botonEncriptar{
    display: inline;
    padding: 24px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;  
    cursor: pointer;
}

.botonDesencriptar{    
    box-sizing: border-box;   
    display: inline;
    padding: 24px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    cursor: pointer;
}

@keyframes caida {
    0% {
      transform: translateY(-150%);}
    100% {
      transform: translateY(0);}
  }

  @keyframes rotar {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
  }

footer{        
    position: absolute;
    width: 500px;
    height: 18px;
    left: 40px;
    top: 770px;/*970*/
}

a{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;    
    color: #495057;
}